<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <span>My Resume</span>
                    <h1>My Expertises</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore
                    </p><br><br>
                    <p>Magna aliquyam erat, sed diam voluptua. At vero eos accusam justo.</p> -->
                    <ul class="nav nav-tabs">
                        <li><a href="#education" class="active" data-toggle="tab">Education</a></li>
                        <li><a href="#experience" data-toggle="tab">Experiences</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="education">
                        <div class="resume__education_item">
                            <span>2023-Present</span>
                            <h4>Masters in Computer Science</h4>
                            <p>North Carolina State University</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2013-2017</span>
                            <h4>Bachelors in Computer Science</h4>
                            <p>SASTRA University</p>
                        </div>  
                    </div>
                    <div class="resume__education tab-pane" id="experience">
                        <div class="resume__education_item">
                            <span>March 2020-July 2023</span>
                            <h4>Senior Android Developer</h4>
                            <p>Experienced in leading app releases, developing AI assistants, creating a cross-platform SDK, designing payment frameworks, and building efficient web scraping systems.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>May 2017-March 2020</span>
                            <h4>Android Developer</h4>
                            <p>Led the transition of Zoho Notebook's Android app to a web-based editor, boosting performance by 66%, implemented tagging functionalities, and revitalized the Photocard module with OCR support.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>December 2016-May 2017</span>
                            <h4>Android Developer Intern</h4>
                            <p>Led the design and development of an end-to-end encrypted file sharing system using AES-256 with GCM encryption for the Zoho Notebook Android app.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>